
@{
    ViewBag.Title = "Indexxx";
}
<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Mohmed AbdElsalam</title>
    <meta content="" name="description">
    <meta content="" name="keywords">
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cairo&display=swap" rel="stylesheet">


    <!-- Vendor CSS Files -->


    <link href="~/DownLoad/iPortfolio/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/DownLoad/iPortfolio/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/DownLoad/iPortfolio/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/DownLoad/iPortfolio/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/DownLoad/iPortfolio/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/DownLoad/iPortfolio/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
<link href="~/Css/One.css" rel="stylesheet" />

    <style>
        .card {
            position: absolute;
            top: 50%;
           left:50%;
            transform: translate(-50%, -50%);
            border: 5px solid #FFFF00;
          
        }
    </style>
</head>

<body>

    <div class="card text-center" style="max-width: 600px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="~/Img/8-01.png" class="img-fluid rounded-start" alt="~.">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h2 class="card-title">شكرا لتواصلكم معنا</h2>
                    <h5 class="card-text">سيتم الرد على رسالتك قريبا</h5>
                    
                </div>
                <br /><br />
                <div>
                    <a href="~/Html/One.html" class="btn btn-dark">رجوع</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor JS Files -->
    <script src="~/DownLoad/iPortfolio/assets/vendor/purecounter/purecounter.js"></script>
    <script src="~/DownLoad/iPortfolio/assets/vendor/purecounter/purecounter.js"></script>
    <script src="~/DownLoad/iPortfolio/assets/vendor/aos/aos.js"></script>
    <script src="~/DownLoad/iPortfolio/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/DownLoad/iPortfolio/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/DownLoad/iPortfolio/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="~/DownLoad/iPortfolio/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/DownLoad/iPortfolio/assets/vendor/typed.js/typed.min.js"></script>
    <script src="~/DownLoad/iPortfolio/assets/vendor/waypoints/noframework.waypoints.js"></script>
    <script src="~/DownLoad/iPortfolio/assets/vendor/php-email-form/validate.js"></script>


    <!-- Template Main JS File -->
    <script src="~/DownLoad/iPortfolio/assets/js/main.js"></script>

    <script src="~/Scripts/bootstrap.bundle.min.js"></script>

</body>

</html>
